.admin-list-index
  %h1.page-title Products Index
  = link_to "Create New Product", new_admin_product_path, class: 'button'
  %ul
  - @products.each do |product|
    %li.single-product
      %h1.title
        Title: 
        = product.title
        %h2.description
          Description:
          = product.description
        %p.price
          Price:
          =number_to_currency(product.price)
        %p.category
          Categories: 
          - product.categories.each do |category|
            = "#{category.title} "
      = link_to "Edit", edit_admin_product_path(product), class: 'button'
      Featured
      = product.is_featured? ? check_box_tag( product.id, value = product.id, checked = true, disabled: true, class: "featured", data: { category: product.categories.first}) : check_box_tag( product.id, value = product.id, checked = false, class: "featured", data: { category: product.categories.first } ) 
      = link_to 'X', admin_product_path(product), method: :delete, data: { confirm: 'Are you sure?' }, class: 'button'
      = link_to "view item", admin_product_path(product), class: 'button'
  = will_paginate @products

